  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">Películas</a>

      <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>
        <div class="d-flex">
          <input #txtBuscar
                 (keyup.enter)="buscarPelicula(txtBuscar.value)" 
                 class="form-control me-2" 
                 type="search" 
                 placeholder="Buscar película" 
                 aria-label="Search">
          <button (click)="buscarPelicula(txtBuscar.value)" 
                  class="btn btn-outline-success" type="submit">Buscar</button>
        </div>
      </div>
    </div>
  </nav>